html,body{
  margin: 0
  padding: 0
  width: 100%
  height 100%
}

body {
  background: url(../images/city-dusk.jpg) no-repeat;
  background-attachment:fixed;
  overflow: hidden;
  background-size:cover;
  font: 14px "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana;
  color: #4d4d4d;
  font-smoothing:antialiased;
  font-weight: 300;
}

i {
  margin-right: 4px;
}
a {
  text-decoration : none;
}
    